body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    font-family: sans-serif;
  }
  
  #title {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 5em;
    text-emphasis: bold;
    z-index: 2;
  }
  
  a-scene {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
  }

  #caption {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 0.9em;
    z-index: 2;
    padding: 0 10px;
  }
  
  #caption a {
    color: #90ee90;
    text-decoration: none;
  }
  
  #caption a:hover {
    text-decoration: bold;
  }  